.cardContain {
  background-color: #fff;
}

.cardNoTitle {
  height: 30px;
  background-color: #f3f3f3;
  border-bottom: 1PX solid #e0e0e0;
}

.cardTitle {
  height: 88px;
  padding: 0 40px;
  line-height: 88px;
  font-size: 36px;
  background-color: #f3f3f3;
  border-bottom: 1PX solid #e0e0e0;
}